<?xml version="1.0" encoding="UTF-8"?>
<jnlp
        spec="7.0+"
        codebase="$jnlpCodebase"
        href="$outputFile">
    <information>
        <title>$project.Name</title>
        <vendor>$project.Organization.Name</vendor>
        <homepage href="$project.Url"/>
        <description>$project.Description</description>
        <icon href="$jnlpCodebase/../comeon_32_32.png" kind="shortcut" width="32" height="32"/>
        <icon href="$jnlpCodebase/../comeon_64_64.png" kind="splash" width="64" height="64"/>
        <offline-allowed/>
        <shortcut online="false" install="false">
            <desktop/>
        </shortcut>
    </information>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <java version="1.8+" java-vm-args="-Xmx2g -XX:+UseParallelGC"/>
        $dependencies
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>

