<?xml version="1.0" encoding="$encoding"?>
<jnlp
    spec="7.0+"
    codebase="$jnlpCodebase"
    href="$outputFile">
  <information>
#if($project.Name)
    <title>$project.Name</title>
#end
#if($project.Organization.Name)
    <vendor>$project.Organization.Name</vendor>
#end
#if($project.Url)
    <homepage href="$project.Url"/>
#end
#if($project.Description)
    <description>$project.Description</description>
#end
	<icon href="$jnlpCodebase/../comeon_32_32.png" kind="shortcut" width="32" height="32"/>
	<icon href="$jnlpCodebase/../comeon_64_64.png" kind="splash" width="64" height="64"/>
#if($offlineAllowed)
    <offline-allowed/>
    <shortcut online="false" install="false">
        <desktop/>
    </shortcut>
#end
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <java version="1.8+" java-vm-args="-Xmx2g -XX:+UseParallelGC"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
