== {{int:filedesc}} ==

{{Information
 | Description = {{mld
    | fr = $Iptc.CaptionAbstract
   }}
 | Source = {{own}}
 | Date = 2013-02-11 13:00:37
 | Author = $user.displayName ([[User:$user.login]])
}}

== {{int:license}} ==

{{cc-by-sa-3.0}}

#if ($ExifSubIFD.LensSerialNumber == "000000774f" || $ExifSubIFD.LensSerialNumber == "0000428c7c")
{{Wikimedia France - Fañch}}
#end
#if ($ExifSubIFD.LensModel == "TS-E17mm f/4L")
[[Category:Taken with Canon TS-E 17 mm F4L]]
#end
#if ($ExifSubIFD.LensModel == "EF70-200mm f/2.8L IS II USM")
[[Category:Taken with Canon EF 70-200mm F2.8L IS II USM]]
#end
#if ($ExifSubIFD.LensModel == "20mm")
[[Category:Photographs taken with Voigtländer 20 mm F3.5 Color Skopar SL II]]
#end
#if ($ExifIFD0.Model == "Canon EOS 60D")
[[Category:Taken with Canon EOS 60D]]
#end
#foreach ($keyword in $keywords)
#if ($keyword.startsWith("Category:"))
[[$keyword]]
#elseif ($keyword.matches("[PI]A[0-9]{8}"))
{{Mérimée|2=$keyword}}
#end
#end
[[Category:Files by $user.login]]